{% extends 'layout.html' %} {% block title %} Info {% endblock %} {% block
content %}

<div class="view">
  <br />
  <div class="boxes">
    <h1>Chapter {{item['id']}}: {{ item['separa'] }}</h1>
    <img
      class="parai"
      src="{{ item['img'] }}"
      alt="Image of cover of chapter {{ item['separa'] }}"
    />

    <div class="siz">
      <div class="summary-box">{{ item['summary'] }}</div>

      <span>
        <span class="total-ayahs">Total Ayahs:</span>
        {{ item['ayahs'] }}
      </span>

      <br />
      <div class="d-flex">
        <div class="mr--10 verses">
          <strong>Verses:</strong>
          <br />
          <img
            class="readI"
            src="https://icons.veryicon.com/png/o/education-technology/educational-icon/read-13.png"
            alt="read icon"
          /><a href="{{ item['verses'] }}">Read it!</a>
          <br />
          <img
            class="readI"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR79cN3wnfKTa1j1PPUCLtm9vl3yzFwNMFpg5bddUOITcCGuk-hCTzbLINpSlMyBNVqRwM&usqp=CAU"
            alt="videoI"
          /><a href="{{ item['video'] }}">Video</a>
        </div>
        <div class="surahs surahs-container">
          <strong>Surahs:</strong>
          <ul>
            {% for surah in item['surahs'] %}
            <li>{{ surah }}</li>
            {% endfor %}
          </ul>
          <a
            href="{{ url_for('edit_item', item_id=item['id']) }}"
            class="edit-button"
            >Edit</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
